body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  justify-content: center;
  align-items: center;
  touch-action: none; }

canvas {
  display: block;       
  position: absolute;   
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  z-index: 0;
}


#counter {
  position: absolute;
  top: 15px;
  left: 20px;
  font-family: 'Courier New', monospace;
  font-size: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 6px 12px;
  border-radius: 8px;
  user-select: none;
}

#volume-slider {
  position: absolute;
  bottom: 20px;   
  right: 20px;   
  z-index: 9999;  
  width: 200px; 
}
